<!-- <p>landingpg works!</p> -->
<!-- <h5>modules</h5>
<button class="submit" routerLink="customers">Customer</button><br>
<button class="submit" routerLink="orders">Orders</button><br>
<button class="submit" routerLink="">Home</button><br> -->
<!-- <h5>components</h5> -->

<!-- <button routerLink="registration">registration</button>
<button routerLink="list">student list</button> -->
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Student Register Component</h5>
          <a routerLink="registration" class="btn btn-info">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Student List Component</h5>
          <a routerLink="list" class="btn btn-info">Go</a>
        </div>
      </div>
    </div>
  </div>