/* .navbar-top{
    overflow: hidden;
}

.navbar-top a {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 12px 16px;
}
.navbar-top a:hover {
    color: white;
    background-color: gray;
} */

/* .navbar-top a:{
    color: red;
} */

/* @media (min-width: 400px)  {
  #id {
    background-color: red;
  }
} */

