<h3 style="padding-left: 120px;">{{aim}}</h3>
<form action="" class="registerstud-form">
    <input type="text" name="firstName" id="" placeholder="First name" [(ngModel)]="studData.firstName" class="registerstud-input"><br>
    <input type="text" name="lastName" id="" placeholder="Last name" [(ngModel)]="studData.lastName" class="registerstud-input"><br>
    <input type="date" name="dateOfBirth" id="" placeholder="Date of birth" [(ngModel)]="studData.dateOfBirth" class="registerstud-input"><br>
    <input type="text" name="address" id="" placeholder="address" [(ngModel)]="studData.address" class="registerstud-input"><br>
    <!-- <select name="" id="">
        <option value="male">male</option>
        <option value="male">male</option>
        <option value="others">others</option>

    </select><br>
    <input type="number" name="" id="" placeholder="Mobile number"><br>
    <select name="" id="">
        <option value="Bca">Bca</option>
        <option value="Bsccs">Bsc Cs</option>
        <option value="Bcom">Bcom</option>


    </select><br> -->
    <input type="submit" name="" id="" placeholder="register" (click)="Register()" class="registerstud-input">


</form>